<div class="container-fluid">
	<div class="row">
		<div class="col-xxl-4">
			<div class="rankingframe">
				<h1>RANKING</h1>
				<hr>
				<h3>Melhor Aproveitamento</h3>
				<a class="card" href="#" onclick="sendData('<%= melhores3[0].id %>')" style="color: black;">
					<div class="additional">
						<div class="user-card">
							<div class="level center">
							<%
								let totalstars = Math.round(melhores3[0].mediaGeral * 2)/2;
								let fullstars = Math.floor(totalstars);
								let halfstars = totalstars - fullstars;
								let emptystars = 5 - Math.ceil(totalstars);
							%>
							<% for (let j=0; j < fullstars; j ++) { %>
								<span class="fa fa-star checked"></span>
							<% } %>
							<% if (halfstars > 0) { %>
								<span class="fa fa-star-half-o checked"></span>
							<% } %>
							<% for (let j=0; j < emptystars ; j ++) { %>
								<span class="fa fa-star"></span>
							<% } %>
							</div>
							<img class="cardpic" src="<%= melhores3[0].foto %>" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%">
							<div class="points center">
								<%= melhores3[0].numeroAvaliacoes %> Avaliacões
							</div>
						</div>
						<div class="more-info">
							<h1>Dados</h1>
							<div class="coords">
								<span><%= melhores3[0].anosFormacao %> Anos</span>
								<span>Desde <%= melhores3[0].dataCriacao %></span>
							</div>
							<div class="coords">
								<span><%= melhores3[0].cidadeLocalizacao %></span>
								<span>Unidade <%= melhores3[0].unidade %></span>
							</div>
							<div class="stats">
								<div>
									<div class="title">Prêmios</div>
									<i class="fa fa-trophy"></i>
									<div class="value"><%= melhores3[0].numeroPremios %></div>
								</div>
								<div>
									<div class="title">Favs</div>
									<i class="fa fa-heart"></i>
									<div class="value"><%= melhores3[0].curtidas %></div>
								</div>
								<div>
									<div class="title">Avaliacões</div>
									<i class="fa fa-group"></i>
									<div class="value"><%= melhores3[0].numeroAvaliacoes %></div>
								</div>
								<div>
									<div class="title">Aprovado</div>
									<i class="fa fa-thumbs-up"></i>
									<div class="value"><%= melhores3[0].porcentagemAprovacao %> %</div>
								</div>
							</div>
						</div>
					</div>
					<div class="general">
						<h3 style="padding-top: 10px;"><strong><%= melhores3[0].nome %></strong></h3>
						<p style="text-wrap: wrap;"><%= melhores3[0].descricao %></p>
						<span class="more">Mouse over the card for more info</span>
					</div>
				</a>
				<hr>
				<h3>Melhor Empregabilidade</h3>
				<a class="card" href="#" onclick="sendData('<%= melhores3[1].id %>')" style="color: black;">
					<div class="additional">
						<div class="user-card">
							<div class="level center">
							<%
								totalstars = Math.round(melhores3[1].mediaGeral * 2)/2;
								fullstars = Math.floor(totalstars);
								halfstars = totalstars - fullstars;
								emptystars = 5 - Math.ceil(totalstars);
							%>
							<% for (let j=0; j < fullstars; j ++) { %>
								<span class="fa fa-star checked"></span>
							<% } %>
							<% if (halfstars > 0) { %>
								<span class="fa fa-star-half-o checked"></span>
							<% } %>
							<% for (let j=0; j < emptystars ; j ++) { %>
								<span class="fa fa-star"></span>
							<% } %>
							</div>
							<img class="cardpic" src="<%= melhores3[1].foto %>" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%">
							<div class="points center">
								<%= melhores3[1].numeroAvaliacoes %> Avaliacões
							</div>
						</div>
						<div class="more-info">
							<h1>Dados</h1>
							<div class="coords">
								<span><%= melhores3[1].anosFormacao %> Anos</span>
								<span>Desde <%= melhores3[1].dataCriacao %></span>
							</div>
							<div class="coords">
								<span><%= melhores3[1].cidadeLocalizacao %></span>
								<span>Unidade <%= melhores3[1].unidade %></span>
							</div>
							<div class="stats">
								<div>
									<div class="title">Prêmios</div>
									<i class="fa fa-trophy"></i>
									<div class="value"><%= melhores3[1].numeroPremios %></div>
								</div>
								<div>
									<div class="title">Favs</div>
									<i class="fa fa-heart"></i>
									<div class="value"><%= melhores3[1].curtidas %></div>
								</div>
								<div>
									<div class="title">Avaliacões</div>
									<i class="fa fa-group"></i>
									<div class="value"><%= melhores3[1].numeroAvaliacoes %></div>
								</div>
								<div>
									<div class="title">Aprovado</div>
									<i class="fa fa-thumbs-up"></i>
									<div class="value"><%= melhores3[1].porcentagemAprovacao %> %</div>
								</div>
							</div>
						</div>
					</div>
					<div class="general">
						<h3 style="padding-top: 10px;"><strong><%= melhores3[1].nome %></strong></h3>
						<p style="text-wrap: wrap;"><%= melhores3[1].descricao %></p>
						<span class="more">Mouse over the card for more info</span>
					</div>
				</a>
				<hr>
				<h3>Melhor Aproveitamento</h3>
				<a class="card" href="#" onclick="sendData('<%= melhores3[2].id %>')" style="color: black;">
					<div class="additional">
						<div class="user-card">
							<div class="level center">
							<%
								totalstars = Math.round(melhores3[2].mediaGeral * 2)/2;
								fullstars = Math.floor(totalstars);
								halfstars = totalstars - fullstars;
								emptystars = 5 - Math.ceil(totalstars);
							%>
							<% for (let j=0; j < fullstars; j ++) { %>
								<span class="fa fa-star checked"></span>
							<% } %>
							<% if (halfstars > 0) { %>
								<span class="fa fa-star-half-o checked"></span>
							<% } %>
							<% for (let j=0; j < emptystars ; j ++) { %>
								<span class="fa fa-star"></span>
							<% } %>
							</div>
							<img class="cardpic" src="<%= melhores3[2].foto %>" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%">
							<div class="points center">
								<%= melhores3[2].numeroAvaliacoes %> Avaliacões
							</div>
						</div>
						<div class="more-info">
							<h1>Dados</h1>
							<div class="coords">
								<span><%= melhores3[2].anosFormacao %> Anos</span>
								<span>Desde <%= melhores3[2].dataCriacao %></span>
							</div>
							<div class="coords">
								<span><%= melhores3[2].cidadeLocalizacao %></span>
								<span>Unidade <%= melhores3[2].unidade %></span>
							</div>
							<div class="stats">
								<div>
									<div class="title">Prêmios</div>
									<i class="fa fa-trophy"></i>
									<div class="value"><%= melhores3[2].numeroPremios %></div>
								</div>
								<div>
									<div class="title">Favs</div>
									<i class="fa fa-heart"></i>
									<div class="value"><%= melhores3[2].curtidas %></div>
								</div>
								<div>
									<div class="title">Avaliacões</div>
									<i class="fa fa-group"></i>
									<div class="value"><%= melhores3[2].numeroAvaliacoes %></div>
								</div>
								<div>
									<div class="title">Aprovado</div>
									<i class="fa fa-thumbs-up"></i>
									<div class="value"><%= melhores3[2].porcentagemAprovacao %> %</div>
								</div>
							</div>
						</div>
					</div>
					<div class="general">
						<h3 style="padding-top: 10px;"><strong><%= melhores3[2].nome %></strong></h3>
						<p style="text-wrap: wrap;"><%= melhores3[2].descricao %></p>
						<span class="more">Mouse over the card for more info</span>
					</div>
				</a>
			</div>
		</div>
	
		<div class="col-xxl-8">
			<div class="rankingframe">
				<h1>CURSOS</h1>
				<hr>
				<% for (let i = 0; i < data.length; i+=2) { %>
					<div class="row">
						<% if (i < data.length) { %>
						<div class="col-xl-6">
							<a class="card" href="#" onclick="sendData('<%= data[i].id %>')" style="color: black;">
								<div class="additional">
									<div class="user-card">
										<div class="level center">
										<%
											totalstars = Math.round(data[i].mediaGeral * 2)/2;
											fullstars = Math.floor(totalstars);
											halfstars = totalstars - fullstars;
											emptystars = 5 - Math.ceil(totalstars);
										%>
										<% for (let j=0; j < fullstars; j ++) { %>
											<span class="fa fa-star checked"></span>
										<% } %>
										<% if (halfstars > 0) { %>
											<span class="fa fa-star-half-o checked"></span>
										<% } %>
										<% for (let j=0; j < emptystars ; j ++) { %>
											<span class="fa fa-star"></span>
										<% } %>
										</div>
										<img class="cardpic" src="<%= data[i].foto %>" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%">
										<div class="points center">
											<%= data[i].numeroAvaliacoes %> Avaliacões
										</div>
									</div>
									<div class="more-info">
										<h1>Dados</h1>
										<div class="coords">
											<span><%= data[i].anosFormacao %> Anos</span>
											<span>Desde <%= data[i].dataCriacao %></span>
										</div>
										<div class="coords">
											<span><%= data[i].cidadeLocalizacao %></span>
											<span>Unidade <%= data[i].unidade %></span>
										</div>
										<div class="stats">
											<div>
												<div class="title">Prêmios</div>
												<i class="fa fa-trophy"></i>
												<div class="value"><%= data[i].numeroPremios %></div>
											</div>
											<div>
												<div class="title">Favs</div>
												<i class="fa fa-heart"></i>
												<div class="value"><%= data[i].curtidas %></div>
											</div>
											<div>
												<div class="title">Avaliacões</div>
												<i class="fa fa-group"></i>
												<div class="value"><%= data[i].numeroAvaliacoes %></div>
											</div>
											<div>
												<div class="title">Aprovado</div>
												<i class="fa fa-thumbs-up"></i>
												<div class="value"><%= data[i].porcentagemAprovacao %> %</div>
											</div>
										</div>
									</div>
								</div>
								<div class="general">
									<h3 style="padding-top: 10px;"><strong><%= data[i].nome %></strong></h3>
									<p style="text-wrap: wrap;"><%= data[i].descricao %></p>
									<span class="more">Mouse over the card for more info</span>
								</div>
							</a>
						</div><% } %>
						<% if (i+1 < data.length) { %>
						<div class="col-xl-6">
							<a class="card" href="#" onclick="sendData('<%= data[i+1].id %>')" style="color: black;">
								<div class="additional">
									<div class="user-card">
										<div class="level center">
										<%
											totalstars = Math.round(data[i+1].mediaGeral * 2)/2;
											fullstars = Math.floor(totalstars);
											halfstars = totalstars - fullstars;
											emptystars = 5 - Math.ceil(totalstars);
										%>
										<% for (let j=0; j < fullstars; j ++) { %>
											<span class="fa fa-star checked"></span>
										<% } %>
										<% if (halfstars > 0) { %>
											<span class="fa fa-star-half-o checked"></span>
										<% } %>
										<% for (let j=0; j < emptystars ; j ++) { %>
											<span class="fa fa-star"></span>
										<% } %>
										</div>
										<img class="cardpic" src="<%= data[i+1].foto %>" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%">
										<div class="points center">
											<%= data[i+1].numeroAvaliacoes %> Avaliacões
										</div>
									</div>
									<div class="more-info">
										<h1>Dados</h1>
										<div class="coords">
											<span><%= data[i+1].anosFormacao %> Anos</span>
											<span>Desde <%= data[i+1].dataCriacao %></span>
										</div>
										<div class="coords">
											<span><%= data[i+1].cidadeLocalizacao %></span>
											<span>Unidade <%= data[i+1].unidade %></span>
										</div>
										<div class="stats">
											<div>
												<div class="title">Prêmios</div>
												<i class="fa fa-trophy"></i>
												<div class="value"><%= data[i+1].numeroPremios %></div>
											</div>
											<div>
												<div class="title">Favs</div>
												<i class="fa fa-heart"></i>
												<div class="value"><%= data[i+1].curtidas %></div>
											</div>
											<div>
												<div class="title">Avaliacões</div>
												<i class="fa fa-group"></i>
												<div class="value"><%= data[i+1].numeroAvaliacoes %></div>
											</div>
											<div>
												<div class="title">Aprovado</div>
												<i class="fa fa-thumbs-up"></i>
												<div class="value"><%= data[i+1].porcentagemAprovacao %> %</div>
											</div>
										</div>
									</div>
								</div>
								<div class="general">
									<h3 style="padding-top: 10px;"><strong><%= data[i+1].nome %></strong></h3>
									<p style="text-wrap: wrap;"><%= data[i+1].descricao %></p>
									<span class="more">Mouse over the card for more info</span>
								</div>
							</a>
						</div>
						<% } %>
					</div>
				<% } %>
				<div>
			</div>
		</div>
	</div>
</div>

<%- contentFor("espaco-head") %>
<link rel="stylesheet" href="/public/css/card.css" />
<style>
	.center {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
	}
	
	.btn-outline-success {
	  outline:2px solid gray !important;
	}
	
	.profs {
	  position: inherit;
	  text-align: left;
	  justify-content: left;
	  align-items: left;
	}
	
	.halfstarbox {
	  width: 11px;
	  height: 15px;
	  position: relative;
	  display: inline-flex;
	}
	
	.starbox {
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  top: 0;
	  left: 0;
	}
	
	.starbox-overlay {
	  z-index: 9;
	}

	.rankingframe {
		margin: 20px;
		text-align: center;
		background-color: #d9d9d9;
		border-radius: 20px;
		padding: 20px;
		text-wrap:wrap;
	}
	
	.rankingrow {
		max-width: max-content;
	}
	
	.rankingcard {
		text-align: left;
	}
	
	.displaycard {
		text-align: left;
	}
</style>

<%- contentFor("espaco-rodape") %>
<script>
	function sendData(id) {
		window.location.href = "/perfil?id=" + id;
	}
</script>