<div class="bemvindo">
	<div class="bemvindotxt">
		<h1><strong>Olá! Bem vindo ao RMT ESPM!</strong></h1>
		<h3 style="max-width: 390px; margin:0 auto">Um site feito por alunos, para alunos. Sinta-se livre para expressar suas opiniões abertamente!</h3>
	</div>
</div>

<br>

<h1 style="text-align: center;color:black"><strong>TOP 5</strong></h1>
<div class="top5">
	<div class="top5row" style="align-items: center;">
		<div class="top5table">
			<h3 style="text-align: center; margin-top:20px"><strong>CURSOS</strong></h4>
			<% for (let i=0; i < top.cursos.length; i++) { %>
				<div class="top5rank">
					<div class="top5cardnum"><%= i + 1 %></div>
					<div class="top5card"><%= top.cursos[i].nome %></div>
				</div>
			<% } %>
		</div>
		<div class="top5table">
			<h3 style="text-align: center; margin-top:20px"><strong>MATÉRIAS</strong></h4>
			<% for (let i=0; i < top.materias.length; i++) { %>
				<div class="top5rank">
					<div class="top5cardnum"><%= i + 1 %></div>
					<div class="top5card"><%= top.materias[i].nome %></div>
				</div>
			<% } %>
		</div>
		<div class="top5table">
			<h3 style="text-align: center; margin-top:20px"><strong>PROFESSORES</strong></h4>
			<% for (let i=0; i < top.professores.length; i++) { %>
				<div class="top5rank">
					<div class="top5cardnum"><%= i + 1 %></div>
					<div class="top5card"><%= top.professores[i].nome %></div>
				</div>
			<% } %>
		</div>
	</div>
</div>

<br><br>

<div class="homeinfo">
	<div class="container-fluid" style="max-width: 70%;background-color: #d9d9d9; border: 1px transparent; border-radius: 20px; padding:20px;">
		<div class="row" style="margin:0 auto">
			<div class="col-xxl-4">
				<div class="homeinfocard">
					<h2>AVALIAÇÕES 100% ANÔNIMAS</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure reiciendis maxime blanditiis molestiae, necessitatibus impedit quidem vitae ratione quis tempore quisquam exercitationem placeat provident quia cumque rem repellendus voluptatem.</p>
				</div>
			</div>
			<div class="col-xxl-4">
				<div class="homeinfocard">
					<h2>CRÍTICAS CONSTRUTIVAS</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure reiciendis maxime blanditiis molestiae, necessitatibus impedit quidem vitae ratione quis tempore quisquam exercitationem placeat provident quia cumque rem repellendus voluptatem.</p>
				</div>
			</div>
			<div class="col-xxl-4">
				<div class="homeinfocard">
					<h2>LIBERDADE DE EXPRESSÃO</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure reiciendis maxime blanditiis molestiae, necessitatibus impedit quidem vitae ratione quis tempore quisquam exercitationem placeat provident quia cumque rem repellendus voluptatem.</p>
				</div>
			</div>
		</div>
	</div>
</div>
