<% 
let nomeNotas = []
let notaCats = []
let ids = perfil.id.toString()
let tipo
console.log(perfil)
if (ids.includes('prof')) { 
    nomeNotas = ['Qualidade', 'Social', 'Conteúdo', 'Métodos', 'Humor', 'Leniência', 'Compreensão', 'Expectativas']
    notaCats = [perfil.mediaNotaQualidade, perfil.mediaNotaSocial, perfil.mediaNotaConteudo, perfil.mediaNotaMetodos, perfil.mediaNotaHumor, perfil.mediaNotaLeniencia, perfil.mediaNotaCompreensao, perfil.mediaNotaExpectativas]
    tipo = 'Professor'
}
else if (ids.includes('mat')) {
    nomeNotas = ['Dificuldade', 'Aprendizado', 'Conteúdo', 'Carga Horária', 'Localização', 'Estrutura', 'Importância', 'Expectativas']
    notaCats = [perfil.mediaNotaDificuldade, perfil.mediaNotaAprendizado, perfil.mediaNotaConteudo, perfil.mediaNotaCargaHoraria, perfil.mediaNotaLocalizacao, perfil.mediaNotaEstrutura, perfil.mediaNotaImportancia, perfil.mediaNotaExpectativas]
    tipo = 'Matéria'
}
else if (ids.includes('cur')) {
    nomeNotas = ['Conforto', 'Empregabilidade', 'Dificuldade', 'Carga Horária', 'Amenidades', 'Aproveitamento', 'Aprendizado', 'Expectativas']
    notaCats = [perfil.mediaNotaConforto.toFixed(1), perfil.mediaNotaEmpregabilidade.toFixed(1), perfil.mediaNotaDificuldade.toFixed(1), perfil.mediaNotaCargaHoraria.toFixed(1), perfil.mediaNotaAmenidades.toFixed(1), perfil.mediaNotaAproveitamento.toFixed(1), perfil.mediaNotaAprendizado.toFixed(1), perfil.mediaNotaExpectativas.toFixed(1)]
    tipo = 'Curso'
}
console.log(tipo)
console.log(nomeNotas)
console.log(notaCats)
%>

<h1 style="text-align:center"><%= tipo %> - <%= perfil.nome %></h1>
<div class="container-fluid" style="text-align: center; align-items:center;">
    <div class="row" style="max-width:max-content; text-align:center; align-items:center; margin:auto; padding: 20px;">
        <div class="col-lg-4">
            <div class="profover">
                <img src="https://avatars.githubusercontent.com/u/49880458?s=280&amp;v=4" class="profimg">
                <h1><%= perfil.mediaGeral.toFixed(1) %></h1>
                <h6>Geral</h6>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="profpoints">
                <div class="container-fluid">
                    <% for (let i = 0; i < 4; i++) { %>
                    <div class="row">
                        <% for (let j = 0; j < 2; j++) { %>
                        <div class="col-lg-6">
                            <div class="profcat">
                                <h4 class="profcatname"><%= nomeNotas[(i*2) + j] %></h4>
                                <h4 class="profcatrating"><%= notaCats[(i*2) + j] %></h4>
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="max-width:max-content; text-align:center; align-items:center; margin:auto; padding: 20px;">
        <div class="col-lg-4">
            <div class="proftitle">
                <h4>#3 em Geral</h4>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="proftitle">
                <h4>#3 em Geral</h4>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="proftitle">
                <h4>#3 em Geral</h4>
            </div>
        </div>
    </div>
</div>

<div class="profbtn">
    <a href="/avalie" style="margin: auto; width:max-content; background-color:transparent; border: none; color:white"><h3>AVALIAR</h3></a>
</div>
<div style="text-align: center; padding:20px">
    <h3>Sobre</h3>
    <div class="profsobre">
        <h5><%= perfil.descricao %></h5>
    </div>
</div>

<div style="text-align: center; padding:20px">
    <h3><%= perfil.numeroAvaliacoes %> Avaliacões</h3>
    <div class="profreviews">
        <div class="container-fluid">
            <% for (let k = 0; k < avaliacoes.length; k++) { %>
            <div class="row review">
                <div class="col-lg-5">
                    <p class="reviewname"><%= avaliacoes[k].nome %></p>
                    <% if ((avaliacoes[k].semestreOpcional != 0) && (avaliacoes[k].cursoOpcional != 'Nenhum')) { %>
                    <p class="reviewcat"><%= avaliacoes[k].semestreOpcional %>o Semestre - <%= avaliacoes[k].cursoOpcional %></p>
                    <% } %>
                </div>
                <div class="col-lg-3">
                    <%
                        let mediaAvalia = parseFloat((parseFloat(avaliacoes[k].nota1) + parseFloat(avaliacoes[k].nota2) + parseFloat(avaliacoes[k].nota3) + parseFloat(avaliacoes[k].nota4) + parseFloat(avaliacoes[k].nota5) + parseFloat(avaliacoes[k].nota6) + parseFloat(avaliacoes[k].nota7) + parseFloat(avaliacoes[k].nota8))/8).toFixed(2)
                        totalstars = Math.round(mediaAvalia * 2)/2;
                        fullstars = Math.floor(totalstars);
                        halfstars = totalstars - fullstars;
                        emptystars = 5 - Math.ceil(totalstars);
                    %>
                    <% for (let j=0; j < fullstars; j ++) { %>
                        <span class="fa fa-star checked"></span>
                    <% } %>
                    <% if (halfstars > 0) { %>
                        <span class="fa fa-star-half-o checked"></span>
                    <% } %>
                    <% for (let j=0; j < emptystars ; j ++) { %>
                        <span class="fa fa-star"></span>
                    <% } %>
                </div>
                <div class="col-lg-3">
                    <h4><%= avaliacoes[k].data %></h4>
                </div>
                <div class="col-lg-1">
                    <span class="fa fa-arrow-circle-down"></span>
                </div>
            </div>
            <hr>
            <% } %>
        </div>
    </div>
</div>

<%- contentFor("espaco-head") %>

<style type="text/css">
    .profover {
        text-align: center;
        background-color: #d9d9d9;
        border-radius: 20px;
        margin: auto;
        max-width: max-content;
        padding: 40px;
    }
    
    .profimg {
        max-width: 120px;
        max-height: 120px;
        border-radius: 20px;
        margin: auto;
    }
    
    .profpoints {
        text-align: left;
        background-color: rgb(144, 0, 51);
        border-radius: 20px;
        margin: auto;
        max-width: max-content;
        padding: 40px;
    }
    
    .profcat {
        display: inline-flex;
        text-align: center;
        align-items: center;
        margin: auto;
    }
    
    .profcatname {
        padding: 20px;
        color: white;
        text-align: center;
    }
    
    .profcatrating {
        text-align: center;
        background-color: #d9d9d9;
        border-radius: 20px;
        padding: 20px;
    }
    
    .proftitle {
        background-color: #d9d9d9;
        border-radius: 20px;
        padding: 20px;
        max-width: max-content;
    }
    
    .profbtn {
        background-color: rgb(144, 0, 51);
        border-radius: 20px;
        padding: 20px;
        color: white;
        text-align: center;
        margin: 20px auto;
        max-width: max-content;
    }
    
    .profsobre {
        max-width: 80%;
        min-width: 60%;
        background-color: #d9d9d9;
        border-radius: 20px;
        text-align: left;
        margin: auto;
        padding: 20px;
    }
    
    .footer {
        bottom: 0;
    }
    
    .checked {
        color: rgb(255, 208, 0);
    }
      
    .fa-star-half {
        color: rgb(255, 208, 0);
    }
    
    .halfstarbox {
        width: 11px;
        height: 15px;
        position: relative;
        display: inline-flex;
    }
    
    .starbox {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .starbox-overlay {
        z-index: 9;
    }
    
    .profreviews {
        background-color: #d9d9d9;
        border-radius: 20px;
        padding: 20px;
        max-width: max-content;
        margin: auto;
        text-align: center;
    }
    
    .review {
        padding: 20px;
        max-width: max-content;
        margin: auto;
        align-items: center;
    }
    
    .reviewname {
        font-weight: 600;
        font-size: large;
        margin: 0;
    }
    
    .reviewcat {
        font-weight: 600;
        font-size: small;
        margin: 0;
    }
    
    .fa-arrow-circle-down {
        padding: 20px;
    }
    
    .reviewtext {
        text-align: center;
        margin: 0 auto;
        max-width: 300px;
    }
</style>

<%- contentFor("espaco-rodape") %>
<script>
    function ExpandContent(element, txtele) {
        if (document.getElementById(txtele).hidden == true) {
            document.getElementById(txtele).hidden = false;
        } else {
            document.getElementById(txtele).hidden = true;
        }
    }
</script>
