<!--
<h1>Sou a página de produtos!</h1>

<p>Listagem de produtos (<%= produtos.length %> produtos no total)</p>

<% for (let contador = 0; contador < produtos.length; contador++) { %>

	<h2>
		<%= produtos[contador].nome %>
	</h2>

	<p>
		Id: <%= produtos[contador].id %>
	</p>

	<p>
		Valor: R$ <%= produtos[contador].valor %>
	</p>

	<hr />

<% } %>
-->
<body>
	<h1 style="margin-left: 0;"><strong>PROFESSORES</strong></h1>
	<div class="container horizontal-scrollable" style="border: 1px solid transparent;">
		<div class="row flex-nowrap">
			<div class="col">
				<div class="card">
					<div class="additional">
						<div class="user-card">
							<div class="level center">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<img src="prof.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px;">
							<div class="points center">
								238 Ratings
							</div>
						</div>
						<div class="more-info">
							<h1>Dados</h1>
							<div class="coords">
								<span>Matemática Discreta</span>
								<span>Desde Jan/2016</span>
							</div>
							<div class="coords">
								<span>Professor Assistente</span>
								<span>Unidade SPAA</span>
							</div>
							<div class="stats">
								<div>
									<div class="title">Prêmios</div>
									<i class="fa fa-trophy"></i>
									<div class="value">2</div>
								</div>
								<div>
									<div class="title">Favs</div>
									<i class="fa fa-heart"></i>
									<div class="value">27</div>
								</div>
								<div>
									<div class="title">Alunos</div>
									<i class="fa fa-group"></i>
									<div class="value">723</div>
								</div>
								<div>
									<div class="title">Geral</div>
									<i class="fa fa-thumbs-up"></i>
									<div class="value">69%</div>
								</div>
							</div>
						</div>
					</div>
					<div class="general">
						<h3 style="padding-top: 10px;"><strong>Paulao Ensinador</strong></h3>
						<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
						<span class="more">Mouse over the card for more info</span>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="additional">
						<div class="user-card">
							<div class="level center">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<img src="prof.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px;">
							<div class="points center">
								238 Ratings
							</div>
						</div>
						<div class="more-info">
							<h1>Dados</h1>
							<div class="coords">
								<span>Matemática Discreta</span>
								<span>Desde Jan/2016</span>
							</div>
							<div class="coords">
								<span>Professor Assistente</span>
								<span>Unidade SPAA</span>
							</div>
							<div class="stats">
								<div>
									<div class="title">Prêmios</div>
									<i class="fa fa-trophy"></i>
									<div class="value">2</div>
								</div>
								<div>
									<div class="title">Favs</div>
									<i class="fa fa-heart"></i>
									<div class="value">27</div>
								</div>
								<div>
									<div class="title">Alunos</div>
									<i class="fa fa-group"></i>
									<div class="value">723</div>
								</div>
								<div>
									<div class="title">Geral</div>
									<i class="fa fa-thumbs-up"></i>
									<div class="value">69%</div>
								</div>
							</div>
						</div>
					</div>
					<div class="general">
						<h3 style="padding-top: 10px;"><strong>Paulao Ensinador</strong></h3>
						<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
						<span class="more">Mouse over the card for more info</span>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="additional">
						<div class="user-card">
							<div class="level center">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<img src="prof.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px;">
							<div class="points center">
								238 Ratings
							</div>
						</div>
						<div class="more-info">
							<h1>Dados</h1>
							<div class="coords">
								<span>Matemática Discreta</span>
								<span>Desde Jan/2016</span>
							</div>
							<div class="coords">
								<span>Professor Assistente</span>
								<span>Unidade SPAA</span>
							</div>
							<div class="stats">
								<div>
									<div class="title">Prêmios</div>
									<i class="fa fa-trophy"></i>
									<div class="value">2</div>
								</div>
								<div>
									<div class="title">Favs</div>
									<i class="fa fa-heart"></i>
									<div class="value">27</div>
								</div>
								<div>
									<div class="title">Alunos</div>
									<i class="fa fa-group"></i>
									<div class="value">723</div>
								</div>
								<div>
									<div class="title">Geral</div>
									<i class="fa fa-thumbs-up"></i>
									<div class="value">69%</div>
								</div>
							</div>
						</div>
					</div>
					<div class="general">
						<h3 style="padding-top: 10px;"><strong>Paulao Ensinador</strong></h3>
						<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
						<span class="more">Mouse over the card for more info</span>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="additional">
						<div class="user-card">
							<div class="level center">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<img src="prof.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px;">
							<div class="points center">
								238 Ratings
							</div>
						</div>
						<div class="more-info">
							<h1>Dados</h1>
							<div class="coords">
								<span>Matemática Discreta</span>
								<span>Desde Jan/2016</span>
							</div>
							<div class="coords">
								<span>Professor Assistente</span>
								<span>Unidade SPAA</span>
							</div>
							<div class="stats">
								<div>
									<div class="title">Prêmios</div>
									<i class="fa fa-trophy"></i>
									<div class="value">2</div>
								</div>
								<div>
									<div class="title">Favs</div>
									<i class="fa fa-heart"></i>
									<div class="value">27</div>
								</div>
								<div>
									<div class="title">Alunos</div>
									<i class="fa fa-group"></i>
									<div class="value">723</div>
								</div>
								<div>
									<div class="title">Geral</div>
									<i class="fa fa-thumbs-up"></i>
									<div class="value">69%</div>
								</div>
							</div>
						</div>
					</div>
					<div class="general">
						<h3 style="padding-top: 10px;"><strong>Paulao Ensinador</strong></h3>
						<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
						<span class="more">Mouse over the card for more info</span>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="additional">
						<div class="user-card">
							<div class="level center">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<img src="prof.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px;">
							<div class="points center">
								238 Ratings
							</div>
						</div>
						<div class="more-info">
							<h1>Dados</h1>
							<div class="coords">
								<span>Matemática Discreta</span>
								<span>Desde Jan/2016</span>
							</div>
							<div class="coords">
								<span>Professor Assistente</span>
								<span>Unidade SPAA</span>
							</div>
							<div class="stats">
								<div>
									<div class="title">Prêmios</div>
									<i class="fa fa-trophy"></i>
									<div class="value">2</div>
								</div>
								<div>
									<div class="title">Favs</div>
									<i class="fa fa-heart"></i>
									<div class="value">27</div>
								</div>
								<div>
									<div class="title">Alunos</div>
									<i class="fa fa-group"></i>
									<div class="value">723</div>
								</div>
								<div>
									<div class="title">Geral</div>
									<i class="fa fa-thumbs-up"></i>
									<div class="value">69%</div>
								</div>
							</div>
						</div>
					</div>
					<div class="general">
						<h3 style="padding-top: 10px;"><strong>Paulao Ensinador</strong></h3>
						<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
						<span class="more">Mouse over the card for more info</span>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="additional">
						<div class="user-card">
							<div class="level center">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<img src="prof.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px;">
							<div class="points center">
								238 Ratings
							</div>
						</div>
						<div class="more-info">
							<h1>Dados</h1>
							<div class="coords">
								<span>Matemática Discreta</span>
								<span>Desde Jan/2016</span>
							</div>
							<div class="coords">
								<span>Professor Assistente</span>
								<span>Unidade SPAA</span>
							</div>
							<div class="stats">
								<div>
									<div class="title">Prêmios</div>
									<i class="fa fa-trophy"></i>
									<div class="value">2</div>
								</div>
								<div>
									<div class="title">Favs</div>
									<i class="fa fa-heart"></i>
									<div class="value">27</div>
								</div>
								<div>
									<div class="title">Alunos</div>
									<i class="fa fa-group"></i>
									<div class="value">723</div>
								</div>
								<div>
									<div class="title">Geral</div>
									<i class="fa fa-thumbs-up"></i>
									<div class="value">69%</div>
								</div>
							</div>
						</div>
					</div>
					<div class="general">
						<h3 style="padding-top: 10px;"><strong>Paulao Ensinador</strong></h3>
						<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
						<span class="more">Mouse over the card for more info</span>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="additional">
						<div class="user-card">
							<div class="level center">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<img src="prof.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px;">
							<div class="points center">
								238 Ratings
							</div>
						</div>
						<div class="more-info">
							<h1>Dados</h1>
							<div class="coords">
								<span>Matemática Discreta</span>
								<span>Desde Jan/2016</span>
							</div>
							<div class="coords">
								<span>Professor Assistente</span>
								<span>Unidade SPAA</span>
							</div>
							<div class="stats">
								<div>
									<div class="title">Prêmios</div>
									<i class="fa fa-trophy"></i>
									<div class="value">2</div>
								</div>
								<div>
									<div class="title">Favs</div>
									<i class="fa fa-heart"></i>
									<div class="value">27</div>
								</div>
								<div>
									<div class="title">Alunos</div>
									<i class="fa fa-group"></i>
									<div class="value">723</div>
								</div>
								<div>
									<div class="title">Geral</div>
									<i class="fa fa-thumbs-up"></i>
									<div class="value">69%</div>
								</div>
							</div>
						</div>
					</div>
					<div class="general">
						<h3 style="padding-top: 10px;"><strong>Paulao Ensinador</strong></h3>
						<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
						<span class="more">Mouse over the card for more info</span>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="additional">
						<div class="user-card">
							<div class="level center">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<img src="prof.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px;">
							<div class="points center">
								238 Ratings
							</div>
						</div>
						<div class="more-info">
							<h1>Dados</h1>
							<div class="coords">
								<span>Matemática Discreta</span>
								<span>Desde Jan/2016</span>
							</div>
							<div class="coords">
								<span>Professor Assistente</span>
								<span>Unidade SPAA</span>
							</div>
							<div class="stats">
								<div>
									<div class="title">Prêmios</div>
									<i class="fa fa-trophy"></i>
									<div class="value">2</div>
								</div>
								<div>
									<div class="title">Favs</div>
									<i class="fa fa-heart"></i>
									<div class="value">27</div>
								</div>
								<div>
									<div class="title">Alunos</div>
									<i class="fa fa-group"></i>
									<div class="value">723</div>
								</div>
								<div>
									<div class="title">Geral</div>
									<i class="fa fa-thumbs-up"></i>
									<div class="value">69%</div>
								</div>
							</div>
						</div>
					</div>
					<div class="general">
						<h3 style="padding-top: 10px;"><strong>Paulao Ensinador</strong></h3>
						<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
						<span class="more">Mouse over the card for more info</span>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="additional">
						<div class="user-card">
							<div class="level center">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<img src="prof.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px;">
							<div class="points center">
								238 Ratings
							</div>
						</div>
						<div class="more-info">
							<h1>Dados</h1>
							<div class="coords">
								<span>Matemática Discreta</span>
								<span>Desde Jan/2016</span>
							</div>
							<div class="coords">
								<span>Professor Assistente</span>
								<span>Unidade SPAA</span>
							</div>
							<div class="stats">
								<div>
									<div class="title">Prêmios</div>
									<i class="fa fa-trophy"></i>
									<div class="value">2</div>
								</div>
								<div>
									<div class="title">Favs</div>
									<i class="fa fa-heart"></i>
									<div class="value">27</div>
								</div>
								<div>
									<div class="title">Alunos</div>
									<i class="fa fa-group"></i>
									<div class="value">723</div>
								</div>
								<div>
									<div class="title">Geral</div>
									<i class="fa fa-thumbs-up"></i>
									<div class="value">69%</div>
								</div>
							</div>
						</div>
					</div>
					<div class="general">
						<h3 style="padding-top: 10px;"><strong>Paulao Ensinador</strong></h3>
						<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
						<span class="more">Mouse over the card for more info</span>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="additional">
						<div class="user-card">
							<div class="level center">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<img src="prof.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px;">
							<div class="points center">
								238 Ratings
							</div>
						</div>
						<div class="more-info">
							<h1>Dados</h1>
							<div class="coords">
								<span>Matemática Discreta</span>
								<span>Desde Jan/2016</span>
							</div>
							<div class="coords">
								<span>Professor Assistente</span>
								<span>Unidade SPAA</span>
							</div>
							<div class="stats">
								<div>
									<div class="title">Prêmios</div>
									<i class="fa fa-trophy"></i>
									<div class="value">2</div>
								</div>
								<div>
									<div class="title">Favs</div>
									<i class="fa fa-heart"></i>
									<div class="value">27</div>
								</div>
								<div>
									<div class="title">Alunos</div>
									<i class="fa fa-group"></i>
									<div class="value">723</div>
								</div>
								<div>
									<div class="title">Geral</div>
									<i class="fa fa-thumbs-up"></i>
									<div class="value">69%</div>
								</div>
							</div>
						</div>
					</div>
					<div class="general">
						<h3 style="padding-top: 10px;"><strong>Paulao Ensinador</strong></h3>
						<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
						<span class="more">Mouse over the card for more info</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr style="color: rgb(124,0,44);">
	<div class="cursos">
		<h1 style="margin-left: 0;"><strong>CURSOS</strong></h1>
		<div class="container horizontal-scrollable" style="border: 1px solid transparent;">
			<div class="row flex-nowrap">
				<div class="col">
					<div class="card">
						<div class="additional">
							<div class="user-card">
								<div class="level center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<div class="halfstarbox">
										<div class="starbox">
											<span class="fa fa-star"></span>
										</div>
										<div class="starbox-overlay">
											<span class="fa fa-star-half"></span>
										</div>
									</div>
									<span class="fa fa-star"></span>
								</div>
								<img src="sisinf.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%;">
								<div class="points center">
									1723 Ratings
								</div>
							</div>
							<div class="more-info">
								<h1>Dados</h1>
								<div class="coords">
									<span>Curso</span>
									<span>Desde Jan/2016</span>
								</div>
								<div class="coords">
									<span>Tech</span>
									<span>Unidade SPJT</span>
								</div>
								<div class="stats">
									<div>
										<div class="title">Prêmios</div>
										<i class="fa fa-trophy"></i>
										<div class="value">2</div>
									</div>
									<div>
										<div class="title">Favs</div>
										<i class="fa fa-heart"></i>
										<div class="value">27</div>
									</div>
									<div>
										<div class="title">Geral</div>
										<i class="fa fa-thumbs-up"></i>
										<div class="value">69%</div>
									</div>
									<div>
										<div class="title">Dificuldade</div>
										<i class="fa fa-exclamation"></i>
										<div class="value">61%</div>
									</div>
								</div>
							</div>
						</div>
						<div class="general">
							<h3 style="padding-top: 10px;text-wrap:wrap"><strong>Sistemas de Informação</strong></h3>
							<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
							<span class="more">Mouse over the card for more info</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="additional">
							<div class="user-card">
								<div class="level center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<div class="halfstarbox">
										<div class="starbox">
											<span class="fa fa-star"></span>
										</div>
										<div class="starbox-overlay">
											<span class="fa fa-star-half"></span>
										</div>
									</div>
									<span class="fa fa-star"></span>
								</div>
								<img src="sisinf.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%;">
								<div class="points center">
									1723 Ratings
								</div>
							</div>
							<div class="more-info">
								<h1>Dados</h1>
								<div class="coords">
									<span>Curso</span>
									<span>Desde Jan/2016</span>
								</div>
								<div class="coords">
									<span>Tech</span>
									<span>Unidade SPJT</span>
								</div>
								<div class="stats">
									<div>
										<div class="title">Prêmios</div>
										<i class="fa fa-trophy"></i>
										<div class="value">2</div>
									</div>
									<div>
										<div class="title">Favs</div>
										<i class="fa fa-heart"></i>
										<div class="value">27</div>
									</div>
									<div>
										<div class="title">Geral</div>
										<i class="fa fa-thumbs-up"></i>
										<div class="value">69%</div>
									</div>
									<div>
										<div class="title">Dificuldade</div>
										<i class="fa fa-exclamation"></i>
										<div class="value">61%</div>
									</div>
								</div>
							</div>
						</div>
						<div class="general">
							<h3 style="padding-top: 10px;text-wrap:wrap"><strong>Sistemas de Informação</strong></h3>
							<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
							<span class="more">Mouse over the card for more info</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="additional">
							<div class="user-card">
								<div class="level center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<div class="halfstarbox">
										<div class="starbox">
											<span class="fa fa-star"></span>
										</div>
										<div class="starbox-overlay">
											<span class="fa fa-star-half"></span>
										</div>
									</div>
									<span class="fa fa-star"></span>
								</div>
								<img src="sisinf.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%;">
								<div class="points center">
									1723 Ratings
								</div>
							</div>
							<div class="more-info">
								<h1>Dados</h1>
								<div class="coords">
									<span>Curso</span>
									<span>Desde Jan/2016</span>
								</div>
								<div class="coords">
									<span>Tech</span>
									<span>Unidade SPJT</span>
								</div>
								<div class="stats">
									<div>
										<div class="title">Prêmios</div>
										<i class="fa fa-trophy"></i>
										<div class="value">2</div>
									</div>
									<div>
										<div class="title">Favs</div>
										<i class="fa fa-heart"></i>
										<div class="value">27</div>
									</div>
									<div>
										<div class="title">Geral</div>
										<i class="fa fa-thumbs-up"></i>
										<div class="value">69%</div>
									</div>
									<div>
										<div class="title">Dificuldade</div>
										<i class="fa fa-exclamation"></i>
										<div class="value">61%</div>
									</div>
								</div>
							</div>
						</div>
						<div class="general">
							<h3 style="padding-top: 10px;text-wrap:wrap"><strong>Sistemas de Informação</strong></h3>
							<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
							<span class="more">Mouse over the card for more info</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="additional">
							<div class="user-card">
								<div class="level center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<div class="halfstarbox">
										<div class="starbox">
											<span class="fa fa-star"></span>
										</div>
										<div class="starbox-overlay">
											<span class="fa fa-star-half"></span>
										</div>
									</div>
									<span class="fa fa-star"></span>
								</div>
								<img src="sisinf.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%;">
								<div class="points center">
									1723 Ratings
								</div>
							</div>
							<div class="more-info">
								<h1>Dados</h1>
								<div class="coords">
									<span>Curso</span>
									<span>Desde Jan/2016</span>
								</div>
								<div class="coords">
									<span>Tech</span>
									<span>Unidade SPJT</span>
								</div>
								<div class="stats">
									<div>
										<div class="title">Prêmios</div>
										<i class="fa fa-trophy"></i>
										<div class="value">2</div>
									</div>
									<div>
										<div class="title">Favs</div>
										<i class="fa fa-heart"></i>
										<div class="value">27</div>
									</div>
									<div>
										<div class="title">Geral</div>
										<i class="fa fa-thumbs-up"></i>
										<div class="value">69%</div>
									</div>
									<div>
										<div class="title">Dificuldade</div>
										<i class="fa fa-exclamation"></i>
										<div class="value">61%</div>
									</div>
								</div>
							</div>
						</div>
						<div class="general">
							<h3 style="padding-top: 10px;text-wrap:wrap"><strong>Sistemas de Informação</strong></h3>
							<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
							<span class="more">Mouse over the card for more info</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="additional">
							<div class="user-card">
								<div class="level center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<div class="halfstarbox">
										<div class="starbox">
											<span class="fa fa-star"></span>
										</div>
										<div class="starbox-overlay">
											<span class="fa fa-star-half"></span>
										</div>
									</div>
									<span class="fa fa-star"></span>
								</div>
								<img src="sisinf.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%;">
								<div class="points center">
									1723 Ratings
								</div>
							</div>
							<div class="more-info">
								<h1>Dados</h1>
								<div class="coords">
									<span>Curso</span>
									<span>Desde Jan/2016</span>
								</div>
								<div class="coords">
									<span>Tech</span>
									<span>Unidade SPJT</span>
								</div>
								<div class="stats">
									<div>
										<div class="title">Prêmios</div>
										<i class="fa fa-trophy"></i>
										<div class="value">2</div>
									</div>
									<div>
										<div class="title">Favs</div>
										<i class="fa fa-heart"></i>
										<div class="value">27</div>
									</div>
									<div>
										<div class="title">Geral</div>
										<i class="fa fa-thumbs-up"></i>
										<div class="value">69%</div>
									</div>
									<div>
										<div class="title">Dificuldade</div>
										<i class="fa fa-exclamation"></i>
										<div class="value">61%</div>
									</div>
								</div>
							</div>
						</div>
						<div class="general">
							<h3 style="padding-top: 10px;text-wrap:wrap"><strong>Sistemas de Informação</strong></h3>
							<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
							<span class="more">Mouse over the card for more info</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="additional">
							<div class="user-card">
								<div class="level center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<div class="halfstarbox">
										<div class="starbox">
											<span class="fa fa-star"></span>
										</div>
										<div class="starbox-overlay">
											<span class="fa fa-star-half"></span>
										</div>
									</div>
									<span class="fa fa-star"></span>
								</div>
								<img src="sisinf.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%;">
								<div class="points center">
									1723 Ratings
								</div>
							</div>
							<div class="more-info">
								<h1>Dados</h1>
								<div class="coords">
									<span>Curso</span>
									<span>Desde Jan/2016</span>
								</div>
								<div class="coords">
									<span>Tech</span>
									<span>Unidade SPJT</span>
								</div>
								<div class="stats">
									<div>
										<div class="title">Prêmios</div>
										<i class="fa fa-trophy"></i>
										<div class="value">2</div>
									</div>
									<div>
										<div class="title">Favs</div>
										<i class="fa fa-heart"></i>
										<div class="value">27</div>
									</div>
									<div>
										<div class="title">Geral</div>
										<i class="fa fa-thumbs-up"></i>
										<div class="value">69%</div>
									</div>
									<div>
										<div class="title">Dificuldade</div>
										<i class="fa fa-exclamation"></i>
										<div class="value">61%</div>
									</div>
								</div>
							</div>
						</div>
						<div class="general">
							<h3 style="padding-top: 10px;text-wrap:wrap"><strong>Sistemas de Informação</strong></h3>
							<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
							<span class="more">Mouse over the card for more info</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="additional">
							<div class="user-card">
								<div class="level center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<div class="halfstarbox">
										<div class="starbox">
											<span class="fa fa-star"></span>
										</div>
										<div class="starbox-overlay">
											<span class="fa fa-star-half"></span>
										</div>
									</div>
									<span class="fa fa-star"></span>
								</div>
								<img src="sisinf.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%;">
								<div class="points center">
									1723 Ratings
								</div>
							</div>
							<div class="more-info">
								<h1>Dados</h1>
								<div class="coords">
									<span>Curso</span>
									<span>Desde Jan/2016</span>
								</div>
								<div class="coords">
									<span>Tech</span>
									<span>Unidade SPJT</span>
								</div>
								<div class="stats">
									<div>
										<div class="title">Prêmios</div>
										<i class="fa fa-trophy"></i>
										<div class="value">2</div>
									</div>
									<div>
										<div class="title">Favs</div>
										<i class="fa fa-heart"></i>
										<div class="value">27</div>
									</div>
									<div>
										<div class="title">Geral</div>
										<i class="fa fa-thumbs-up"></i>
										<div class="value">69%</div>
									</div>
									<div>
										<div class="title">Dificuldade</div>
										<i class="fa fa-exclamation"></i>
										<div class="value">61%</div>
									</div>
								</div>
							</div>
						</div>
						<div class="general">
							<h3 style="padding-top: 10px;text-wrap:wrap"><strong>Sistemas de Informação</strong></h3>
							<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
							<span class="more">Mouse over the card for more info</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="additional">
							<div class="user-card">
								<div class="level center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<div class="halfstarbox">
										<div class="starbox">
											<span class="fa fa-star"></span>
										</div>
										<div class="starbox-overlay">
											<span class="fa fa-star-half"></span>
										</div>
									</div>
									<span class="fa fa-star"></span>
								</div>
								<img src="sisinf.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%;">
								<div class="points center">
									1723 Ratings
								</div>
							</div>
							<div class="more-info">
								<h1>Dados</h1>
								<div class="coords">
									<span>Curso</span>
									<span>Desde Jan/2016</span>
								</div>
								<div class="coords">
									<span>Tech</span>
									<span>Unidade SPJT</span>
								</div>
								<div class="stats">
									<div>
										<div class="title">Prêmios</div>
										<i class="fa fa-trophy"></i>
										<div class="value">2</div>
									</div>
									<div>
										<div class="title">Favs</div>
										<i class="fa fa-heart"></i>
										<div class="value">27</div>
									</div>
									<div>
										<div class="title">Geral</div>
										<i class="fa fa-thumbs-up"></i>
										<div class="value">69%</div>
									</div>
									<div>
										<div class="title">Dificuldade</div>
										<i class="fa fa-exclamation"></i>
										<div class="value">61%</div>
									</div>
								</div>
							</div>
						</div>
						<div class="general">
							<h3 style="padding-top: 10px;text-wrap:wrap"><strong>Sistemas de Informação</strong></h3>
							<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
							<span class="more">Mouse over the card for more info</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="additional">
							<div class="user-card">
								<div class="level center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<div class="halfstarbox">
										<div class="starbox">
											<span class="fa fa-star"></span>
										</div>
										<div class="starbox-overlay">
											<span class="fa fa-star-half"></span>
										</div>
									</div>
									<span class="fa fa-star"></span>
								</div>
								<img src="sisinf.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%;">
								<div class="points center">
									1723 Ratings
								</div>
							</div>
							<div class="more-info">
								<h1>Dados</h1>
								<div class="coords">
									<span>Curso</span>
									<span>Desde Jan/2016</span>
								</div>
								<div class="coords">
									<span>Tech</span>
									<span>Unidade SPJT</span>
								</div>
								<div class="stats">
									<div>
										<div class="title">Prêmios</div>
										<i class="fa fa-trophy"></i>
										<div class="value">2</div>
									</div>
									<div>
										<div class="title">Favs</div>
										<i class="fa fa-heart"></i>
										<div class="value">27</div>
									</div>
									<div>
										<div class="title">Geral</div>
										<i class="fa fa-thumbs-up"></i>
										<div class="value">69%</div>
									</div>
									<div>
										<div class="title">Dificuldade</div>
										<i class="fa fa-exclamation"></i>
										<div class="value">61%</div>
									</div>
								</div>
							</div>
						</div>
						<div class="general">
							<h3 style="padding-top: 10px;text-wrap:wrap"><strong>Sistemas de Informação</strong></h3>
							<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
							<span class="more">Mouse over the card for more info</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="additional">
							<div class="user-card">
								<div class="level center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<div class="halfstarbox">
										<div class="starbox">
											<span class="fa fa-star"></span>
										</div>
										<div class="starbox-overlay">
											<span class="fa fa-star-half"></span>
										</div>
									</div>
									<span class="fa fa-star"></span>
								</div>
								<img src="sisinf.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%;">
								<div class="points center">
									1723 Ratings
								</div>
							</div>
							<div class="more-info">
								<h1>Dados</h1>
								<div class="coords">
									<span>Curso</span>
									<span>Desde Jan/2016</span>
								</div>
								<div class="coords">
									<span>Tech</span>
									<span>Unidade SPJT</span>
								</div>
								<div class="stats">
									<div>
										<div class="title">Prêmios</div>
										<i class="fa fa-trophy"></i>
										<div class="value">2</div>
									</div>
									<div>
										<div class="title">Favs</div>
										<i class="fa fa-heart"></i>
										<div class="value">27</div>
									</div>
									<div>
										<div class="title">Geral</div>
										<i class="fa fa-thumbs-up"></i>
										<div class="value">69%</div>
									</div>
									<div>
										<div class="title">Dificuldade</div>
										<i class="fa fa-exclamation"></i>
										<div class="value">61%</div>
									</div>
								</div>
							</div>
						</div>
						<div class="general">
							<h3 style="padding-top: 10px;text-wrap:wrap"><strong>Sistemas de Informação</strong></h3>
							<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
							<span class="more">Mouse over the card for more info</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr style="color: rgb(124,0,44);">
	<div class="aulas">
		<h1 style="margin-left: 0;"><strong>AULAS</strong></h1>
		<div class="container horizontal-scrollable" style="border: 1px solid transparent;">
			<div class="row flex-nowrap">
				<div class="col">
					<div class="card">
						<div class="additional">
							<div class="user-card">
								<div class="level center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<div class="halfstarbox">
										<div class="starbox">
											<span class="fa fa-star"></span>
										</div>
										<div class="starbox-overlay">
											<span class="fa fa-star-half"></span>
										</div>
									</div>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
								<img src="marketing.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%;">
								<div class="points center">
									640 Ratings
								</div>
							</div>
							<div class="more-info">
								<h1>Dados</h1>
								<div class="coords">
									<span>Aula</span>
									<span>2o/3o Semestre</span>
								</div>
								<div class="coords">
									<span>Humanas</span>
									<span>2/Semana</span>
								</div>
								<div class="stats">
									<div>
										<div class="title">Prêmios</div>
										<i class="fa fa-trophy"></i>
										<div class="value">2</div>
									</div>
									<div>
										<div class="title">Favs</div>
										<i class="fa fa-heart"></i>
										<div class="value">27</div>
									</div>
									<div>
										<div class="title">Alunos</div>
										<i class="fa fa-group"></i>
										<div class="value">723</div>
									</div>
									<div>
										<div class="title">Dificuldade</div>
										<i class="fa fa-exclamation"></i>
										<div class="value">34%</div>
									</div>
								</div>
							</div>
						</div>
						<div class="general">
							<h3 style="padding-top: 10px;text-wrap:wrap"><strong>Marketing</strong></h3>
							<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
							<span class="more">Mouse over the card for more info</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="additional">
							<div class="user-card">
								<div class="level center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<div class="halfstarbox">
										<div class="starbox">
											<span class="fa fa-star"></span>
										</div>
										<div class="starbox-overlay">
											<span class="fa fa-star-half"></span>
										</div>
									</div>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
								<img src="marketing.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%;">
								<div class="points center">
									640 Ratings
								</div>
							</div>
							<div class="more-info">
								<h1>Dados</h1>
								<div class="coords">
									<span>Aula</span>
									<span>2o/3o Semestre</span>
								</div>
								<div class="coords">
									<span>Humanas</span>
									<span>2/Semana</span>
								</div>
								<div class="stats">
									<div>
										<div class="title">Prêmios</div>
										<i class="fa fa-trophy"></i>
										<div class="value">2</div>
									</div>
									<div>
										<div class="title">Favs</div>
										<i class="fa fa-heart"></i>
										<div class="value">27</div>
									</div>
									<div>
										<div class="title">Alunos</div>
										<i class="fa fa-group"></i>
										<div class="value">723</div>
									</div>
									<div>
										<div class="title">Dificuldade</div>
										<i class="fa fa-exclamation"></i>
										<div class="value">34%</div>
									</div>
								</div>
							</div>
						</div>
						<div class="general">
							<h3 style="padding-top: 10px;text-wrap:wrap"><strong>Marketing</strong></h3>
							<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
							<span class="more">Mouse over the card for more info</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="additional">
							<div class="user-card">
								<div class="level center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<div class="halfstarbox">
										<div class="starbox">
											<span class="fa fa-star"></span>
										</div>
										<div class="starbox-overlay">
											<span class="fa fa-star-half"></span>
										</div>
									</div>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
								<img src="marketing.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%;">
								<div class="points center">
									640 Ratings
								</div>
							</div>
							<div class="more-info">
								<h1>Dados</h1>
								<div class="coords">
									<span>Aula</span>
									<span>2o/3o Semestre</span>
								</div>
								<div class="coords">
									<span>Humanas</span>
									<span>2/Semana</span>
								</div>
								<div class="stats">
									<div>
										<div class="title">Prêmios</div>
										<i class="fa fa-trophy"></i>
										<div class="value">2</div>
									</div>
									<div>
										<div class="title">Favs</div>
										<i class="fa fa-heart"></i>
										<div class="value">27</div>
									</div>
									<div>
										<div class="title">Alunos</div>
										<i class="fa fa-group"></i>
										<div class="value">723</div>
									</div>
									<div>
										<div class="title">Dificuldade</div>
										<i class="fa fa-exclamation"></i>
										<div class="value">34%</div>
									</div>
								</div>
							</div>
						</div>
						<div class="general">
							<h3 style="padding-top: 10px;text-wrap:wrap"><strong>Marketing</strong></h3>
							<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
							<span class="more">Mouse over the card for more info</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="additional">
							<div class="user-card">
								<div class="level center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<div class="halfstarbox">
										<div class="starbox">
											<span class="fa fa-star"></span>
										</div>
										<div class="starbox-overlay">
											<span class="fa fa-star-half"></span>
										</div>
									</div>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
								<img src="marketing.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%;">
								<div class="points center">
									640 Ratings
								</div>
							</div>
							<div class="more-info">
								<h1>Dados</h1>
								<div class="coords">
									<span>Aula</span>
									<span>2o/3o Semestre</span>
								</div>
								<div class="coords">
									<span>Humanas</span>
									<span>2/Semana</span>
								</div>
								<div class="stats">
									<div>
										<div class="title">Prêmios</div>
										<i class="fa fa-trophy"></i>
										<div class="value">2</div>
									</div>
									<div>
										<div class="title">Favs</div>
										<i class="fa fa-heart"></i>
										<div class="value">27</div>
									</div>
									<div>
										<div class="title">Alunos</div>
										<i class="fa fa-group"></i>
										<div class="value">723</div>
									</div>
									<div>
										<div class="title">Dificuldade</div>
										<i class="fa fa-exclamation"></i>
										<div class="value">34%</div>
									</div>
								</div>
							</div>
						</div>
						<div class="general">
							<h3 style="padding-top: 10px;text-wrap:wrap"><strong>Marketing</strong></h3>
							<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
							<span class="more">Mouse over the card for more info</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="additional">
							<div class="user-card">
								<div class="level center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<div class="halfstarbox">
										<div class="starbox">
											<span class="fa fa-star"></span>
										</div>
										<div class="starbox-overlay">
											<span class="fa fa-star-half"></span>
										</div>
									</div>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
								<img src="marketing.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%;">
								<div class="points center">
									640 Ratings
								</div>
							</div>
							<div class="more-info">
								<h1>Dados</h1>
								<div class="coords">
									<span>Aula</span>
									<span>2o/3o Semestre</span>
								</div>
								<div class="coords">
									<span>Humanas</span>
									<span>2/Semana</span>
								</div>
								<div class="stats">
									<div>
										<div class="title">Prêmios</div>
										<i class="fa fa-trophy"></i>
										<div class="value">2</div>
									</div>
									<div>
										<div class="title">Favs</div>
										<i class="fa fa-heart"></i>
										<div class="value">27</div>
									</div>
									<div>
										<div class="title">Alunos</div>
										<i class="fa fa-group"></i>
										<div class="value">723</div>
									</div>
									<div>
										<div class="title">Dificuldade</div>
										<i class="fa fa-exclamation"></i>
										<div class="value">34%</div>
									</div>
								</div>
							</div>
						</div>
						<div class="general">
							<h3 style="padding-top: 10px;text-wrap:wrap"><strong>Marketing</strong></h3>
							<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
							<span class="more">Mouse over the card for more info</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="additional">
							<div class="user-card">
								<div class="level center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<div class="halfstarbox">
										<div class="starbox">
											<span class="fa fa-star"></span>
										</div>
										<div class="starbox-overlay">
											<span class="fa fa-star-half"></span>
										</div>
									</div>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
								<img src="marketing.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%;">
								<div class="points center">
									640 Ratings
								</div>
							</div>
							<div class="more-info">
								<h1>Dados</h1>
								<div class="coords">
									<span>Aula</span>
									<span>2o/3o Semestre</span>
								</div>
								<div class="coords">
									<span>Humanas</span>
									<span>2/Semana</span>
								</div>
								<div class="stats">
									<div>
										<div class="title">Prêmios</div>
										<i class="fa fa-trophy"></i>
										<div class="value">2</div>
									</div>
									<div>
										<div class="title">Favs</div>
										<i class="fa fa-heart"></i>
										<div class="value">27</div>
									</div>
									<div>
										<div class="title">Alunos</div>
										<i class="fa fa-group"></i>
										<div class="value">723</div>
									</div>
									<div>
										<div class="title">Dificuldade</div>
										<i class="fa fa-exclamation"></i>
										<div class="value">34%</div>
									</div>
								</div>
							</div>
						</div>
						<div class="general">
							<h3 style="padding-top: 10px;text-wrap:wrap"><strong>Marketing</strong></h3>
							<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
							<span class="more">Mouse over the card for more info</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="additional">
							<div class="user-card">
								<div class="level center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<div class="halfstarbox">
										<div class="starbox">
											<span class="fa fa-star"></span>
										</div>
										<div class="starbox-overlay">
											<span class="fa fa-star-half"></span>
										</div>
									</div>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
								<img src="marketing.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%;">
								<div class="points center">
									640 Ratings
								</div>
							</div>
							<div class="more-info">
								<h1>Dados</h1>
								<div class="coords">
									<span>Aula</span>
									<span>2o/3o Semestre</span>
								</div>
								<div class="coords">
									<span>Humanas</span>
									<span>2/Semana</span>
								</div>
								<div class="stats">
									<div>
										<div class="title">Prêmios</div>
										<i class="fa fa-trophy"></i>
										<div class="value">2</div>
									</div>
									<div>
										<div class="title">Favs</div>
										<i class="fa fa-heart"></i>
										<div class="value">27</div>
									</div>
									<div>
										<div class="title">Alunos</div>
										<i class="fa fa-group"></i>
										<div class="value">723</div>
									</div>
									<div>
										<div class="title">Dificuldade</div>
										<i class="fa fa-exclamation"></i>
										<div class="value">34%</div>
									</div>
								</div>
							</div>
						</div>
						<div class="general">
							<h3 style="padding-top: 10px;text-wrap:wrap"><strong>Marketing</strong></h3>
							<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
							<span class="more">Mouse over the card for more info</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="additional">
							<div class="user-card">
								<div class="level center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<div class="halfstarbox">
										<div class="starbox">
											<span class="fa fa-star"></span>
										</div>
										<div class="starbox-overlay">
											<span class="fa fa-star-half"></span>
										</div>
									</div>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
								<img src="marketing.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%;">
								<div class="points center">
									640 Ratings
								</div>
							</div>
							<div class="more-info">
								<h1>Dados</h1>
								<div class="coords">
									<span>Aula</span>
									<span>2o/3o Semestre</span>
								</div>
								<div class="coords">
									<span>Humanas</span>
									<span>2/Semana</span>
								</div>
								<div class="stats">
									<div>
										<div class="title">Prêmios</div>
										<i class="fa fa-trophy"></i>
										<div class="value">2</div>
									</div>
									<div>
										<div class="title">Favs</div>
										<i class="fa fa-heart"></i>
										<div class="value">27</div>
									</div>
									<div>
										<div class="title">Alunos</div>
										<i class="fa fa-group"></i>
										<div class="value">723</div>
									</div>
									<div>
										<div class="title">Dificuldade</div>
										<i class="fa fa-exclamation"></i>
										<div class="value">34%</div>
									</div>
								</div>
							</div>
						</div>
						<div class="general">
							<h3 style="padding-top: 10px;text-wrap:wrap"><strong>Marketing</strong></h3>
							<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
							<span class="more">Mouse over the card for more info</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="additional">
							<div class="user-card">
								<div class="level center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<div class="halfstarbox">
										<div class="starbox">
											<span class="fa fa-star"></span>
										</div>
										<div class="starbox-overlay">
											<span class="fa fa-star-half"></span>
										</div>
									</div>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
								<img src="marketing.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%;">
								<div class="points center">
									640 Ratings
								</div>
							</div>
							<div class="more-info">
								<h1>Dados</h1>
								<div class="coords">
									<span>Aula</span>
									<span>2o/3o Semestre</span>
								</div>
								<div class="coords">
									<span>Humanas</span>
									<span>2/Semana</span>
								</div>
								<div class="stats">
									<div>
										<div class="title">Prêmios</div>
										<i class="fa fa-trophy"></i>
										<div class="value">2</div>
									</div>
									<div>
										<div class="title">Favs</div>
										<i class="fa fa-heart"></i>
										<div class="value">27</div>
									</div>
									<div>
										<div class="title">Alunos</div>
										<i class="fa fa-group"></i>
										<div class="value">723</div>
									</div>
									<div>
										<div class="title">Dificuldade</div>
										<i class="fa fa-exclamation"></i>
										<div class="value">34%</div>
									</div>
								</div>
							</div>
						</div>
						<div class="general">
							<h3 style="padding-top: 10px;text-wrap:wrap"><strong>Marketing</strong></h3>
							<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
							<span class="more">Mouse over the card for more info</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="additional">
							<div class="user-card">
								<div class="level center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<div class="halfstarbox">
										<div class="starbox">
											<span class="fa fa-star"></span>
										</div>
										<div class="starbox-overlay">
											<span class="fa fa-star-half"></span>
										</div>
									</div>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
								<img src="marketing.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%;">
								<div class="points center">
									640 Ratings
								</div>
							</div>
							<div class="more-info">
								<h1>Dados</h1>
								<div class="coords">
									<span>Aula</span>
									<span>2o/3o Semestre</span>
								</div>
								<div class="coords">
									<span>Humanas</span>
									<span>2/Semana</span>
								</div>
								<div class="stats">
									<div>
										<div class="title">Prêmios</div>
										<i class="fa fa-trophy"></i>
										<div class="value">2</div>
									</div>
									<div>
										<div class="title">Favs</div>
										<i class="fa fa-heart"></i>
										<div class="value">27</div>
									</div>
									<div>
										<div class="title">Alunos</div>
										<i class="fa fa-group"></i>
										<div class="value">723</div>
									</div>
									<div>
										<div class="title">Dificuldade</div>
										<i class="fa fa-exclamation"></i>
										<div class="value">34%</div>
									</div>
								</div>
							</div>
						</div>
						<div class="general">
							<h3 style="padding-top: 10px;text-wrap:wrap"><strong>Marketing</strong></h3>
							<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
							<span class="more">Mouse over the card for more info</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<%- contentFor("espaco-head") %>

<link rel="stylesheet" href="/public/css/listagem.css">
